services:
  app:
    build: .
    depends_on:
      - db
    env_file: .env
    volumes:
      - ./config.toml:/app/config.toml:ro
  db:
    image: postgres:18-alpine
    env_file: .env
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
